form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    text-align: center;
    align-items: center;
}

button {
    width: 120px;
    border: none;
    background-color: #a7321c;
    color: white;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
}