body {
    text-align: center;
}

header {
    border-bottom: 2px solid black;
    margin-bottom: 5%;
}

#principal {
    margin: 0px auto;
    border: 1px solid black;
    width: 35%;
    height: 150px;
}

#principal input {
    margin-top: 25px;
}

#resultado {
    text-align: left;
    margin-top: 8px;
    margin-left: 12px;
}